body {
    margin: 0;
}
.txt1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    padding-top: 220px;
    padding-left: 50px;

}
.txt2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 20px;
}
button {
    font-size: 15px;
    float: left;
    border-radius: 15px;
    border-style: none;
    background-color: #4cbded;
    color: white;
    padding: 20px 60px;
    transition: background-color 0.7s ease-in;
    position: absolute;
    top: 60%;
    left: 12%;
    transform: translate(-50%, -50%);
  }
  
button:hover {
    background-color: #0000ff;
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
  }
  
.podval {
    padding-top: 380px;
    padding-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
.upeerbar {
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}
.logo {
  padding: auto;
}